.bus{
  font-size: 16px;
  color: rgba(75, 81, 98, 1);
}
.gen{
  display: flex;
  gap: 5px;
  align-items: center;
  width: 397px;
  height: 42px;
  border-radius: 20px;
  border: 1px solid rgba(182, 188, 205, 1);
  justify-content: center;
}
.wrap{
  display: flex;
  justify-content: center;
  margin-top: 150px;
}
.rev{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 24px;
}
.rev2{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 10px;
}
.star{
  width: 177px;
  height: 42px;
  border-radius: 8px;
  background-color: #4f8cff;
  color: white;
  border: none;
}